@charset "UTF-8";

/*

Telas pequenas: <= 600px
Celular: <= 768
Tablte: <= 992
Desktop: <= 1200
Telas grandes > 1200

*/

@media only screen and (max-width: 768px) {
    body {
        grid-template-rows: 35vh 1fr;
        row-gap: 10vh;
        width: 100%;
        overflow: hidden;
    }

    /*Menu*/

    nav {
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 2;


    background-color: var(--color-bg);

    width: 100% !important;
    height: 7% !important; 

    }

    .perfil-menu {
        display: none;
    }

    /* Parte dos Projetos*/

    main {
        grid-template-areas: "p1"
                         "p2"
                         "p3"
                         "p4"
                         "p5"
                         "p6";
    }

    .img-tamanho1 {
        width: 50vw;
        height: 25vh;
    }
    
    .img-tamanho2 {
        width: 50vw;
        height: 20vh;
    }

    /*Rodapé*/

    footer {
        grid-row: 4;
    }

    .curriculo {
        width: inherit;
        height: 10vh;
    }

    footer figcaption {
        font-size: 2vw;
        color: white;
    }

    footer img {
        width: inherit;
        height: 10vh;
    }
}